:root
{
    --c1: #0d1b2a;
    --c2: #1b263b;
    --c3: #415a77;
    --c4: #778da9;
    --c5: #e0e1dd;

}
body
{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}
header
{
    background-color: var(--c1);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a
{
    text-decoration: none;
    color: white;
}
#baner
{
    font-size: 60px;
}
main
{
    height: calc(100vh - 100px);
    background-color: blueviolet;
}
nav
{
    width: 25%;
    height: 98%;
    background-color: var(--c2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}
article
{
    width: 75%;
    height: 98%;
    background-color: var(--c3);
    float: left; 
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0px;
    overflow-y: scroll;
}
.mjnd
{
    display: flex;
}
#fk
{
    margin-right: 400px;
    margin-top: 100px;
}
footer
{
    width: 100%;
    height: 3%;
    clear: both;
    background-color: var(--c1);
    color:#000000;
    text-align: center;
}
span
{
    height: 20%;
    width: 80%;
    margin-top: 29px;
    margin-bottom: 29px;
    background-image: url("pics/bgb.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bolder;
    border-radius: 20px;
}
span:hover
{
    box-shadow: 0px 0px 18px 7px var(--c3);
}
h2
{
    color: white;
    font-size: 30px;
}
p
{
    color: white;
    font-size: large;
    text-align: justify;
}
table, tr, td
{
    border: 2px solid var(--c2);
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    background-color: var(--c5);
    width: 30%;
    height: 100px;
} 
img
{
    height: 85px;
}
form
{
    color: white;
}
input[type="number"]
{
    width: 35px;
}
textarea
{
    width: 285px;
    height: 100px;
}
input
{
    margin: 3px;
}
.galeria
{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 600px;
    background-color: var(--c5);
    border: 2px solid var(--c1);
}
#galinfo
{
    float: left;
    height: 100%;
    width: 40%;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
#galimg
{
    float: left;
    height: 100%;
    width: 60%;
}
#obrazek
{
    height: 100%;
    width: 100%;
}
#p
{
    height: 40px;
    width: 40px;
    position: relative;
    left: 15px;
    bottom: 315px;
}
#n
{
    height: 40px;
    width: 40px;
    position: relative;
    left: 390px;
    bottom: 315px;
}
#books
{
    clear: both;
}
#cs
{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 25px;
    height: 25px;
}
#cs:hover
{
    border: none;
    background-color: var(--c5);
    box-shadow: 0px 0px 18px 7px var(--c3);
}
input
{
    border-radius: 4px;
}
input:focus
{
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 1px var(--c5);
}
input:hover
{
    border: none;
}
input[type=radio]
{
    box-shadow: none;
}
textarea
{
    border-radius: 4px;
}
textarea:focus
{
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 1px var(--c5);
}
textarea:hover
{
    border: none;
}
ol
{
    color: white;
}